# Independent Service Repositories (Polyrepo)
services/**/.git/
apps/**/.git/
plugins/**/.git/

# Binaries and compiled files
server
motherboard-server
rishta-mb
port-registry
gen-env
*.exe
*.test
*.prof
**/bin/
**/obj/

# Logs and Tmp
*.log
**/.logs/
**/tmp/
**/vendor/
**/node_modules/
**/.next/
**/dist/
**/build/
**/out/

# Environment files
**/.env
**/.env.*
!**/.env.example
.ports.env

# IDEs and editors
.vscode/
.idea/
.DS_Store
*.swp
